body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* Styles for each recipe card */
.recipe-card {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
}

.recipe-card h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #333;
}

.recipe-card p {
    line-height: 1.5;
    color: #666;
}

/* Container for all recipe cards */
.recipe-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Styles for header and footer */
header {
    background-color: #E3E1D9;
    background-size: cover;
    background-position: center;
    padding: 5px;
    text-align: center;
    /* Optionally add a gradient over the background image */
    background-blend-mode: multiply;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), transparent);
}

h1 {
    font-size: 2em;
    font-weight: bold;
    color: rgb(49, 45, 45);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

nav {
    background-color: #C7C8CC;
    padding: 20px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin: 0 10px;
}

nav a {
    text-decoration: none;
    color: rgb(25, 21, 21);
}

nav a:hover {
    text-decoration: underline;
}

footer {
    background-color: #C7C8CC;
    padding: 20px;
    text-align: center;
    color: #333;
}

footer p {
    margin: 0;
}
